---
import GhostButton from "../Common/GhostButton.astro";
export interface Props {
  image: string;
  name: string;
  languages: string;
  libraries: string;
  desc: string;
  href: string;
}

let { image, name, languages, libraries, desc, href } = Astro.props as Props;
---
<div class="card">
  <div class="content">
    <div class="preview-image"><img src={image} alt={name}/></div>
    <div class="name">{name}</div>
    <div class="tech">
      <div class="languages">{languages}</div>
      <div class="libraries">{libraries}</div>
    </div>
    <div class="desc">{desc}</div>
    <GhostButton href={href}>View</GhostButton>
  </div>
</div>