---
import Card from './Card.astro';
import projects from './projects.ts';
---
<div id="projects">
  {projects.map(project => {
      return (
        <Card
          image={project.image}
          name={project.name}
          languages={project.langs}
          libraries={project.libs}
          desc={project.description}
          href={project.url}
        />
      )
  })}
</div>
