---
import Card from './Card.astro';
import projects from './projects.ts';
---
<style slot="style" lang="scss">
#projects {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin: 0 10em;
  gap: 2em;
}
</style>
<div id="projects">
  {projects.map(project => {
      return (
        <Card
          image={project.image}
          name={project.name}
          languages={project.langs}
          libraries={project.libs}
          desc={project.description}
          href={project.url}
        />
      )
  })}
</div>
