---
import socials from './socials.ts';
import Link from './Link.astro';
---
<div id="socials">
  <ul>
    {socials.map(([group, links]) => {
      return (
        <li class="section">
          <span>{group}</span>
          <ul class="icons">
            {links.map(social => (
              <Link
                tippyContent={social.name}
                href={social.href}
                icon={social.icon}
                custom={social.custom}
              />
            ))}
          </ul>
        </li>
      )
    })}
  </ul>
</div>